/*
----------------------------------------------- 
Modern CSS file - no hacks allowed

stanmart.com v001
----------------------------------------------- */

/*
-----------------------------------------------
Basic Tag Styles
-----------------------------------------------*/

body
{
	margin: 0;
	padding: 0;
	font: 12px/16px 'Lucida Grande', Arial, Helvetica, Verdana, sans-serif;
	color: #000;
	text-align: center;
}

img 
{
	border: 0;
}

table 
{
	margin: 0;
}





/*
-----------------------------------------------
Links
-----------------------------------------------*/

a:link    { color: #0A57A4; border-bottom: 0px solid #0A57A4; text-decoration: none; }
a:visited	{ color: #0A57A4; border-bottom: 0px solid #0A57A4; text-decoration: none; }
a:hover		{ color: #FFF; background: #0A57A4; border-bottom: none; text-decoration: none; }
a:active	{ color: #FFF; background: #0A57A4; border-bottom: none; text-decoration: none; }


/*
-----------------------------------------------
Headlines
-----------------------------------------------*/

h1, h2, h3, h4, h5, h6 
{
	margin: 0 0 0.5em 0;
	padding: 0;
	font-weight: bold;
	font-family: 'Gill Sans', Arial, Helvetica, sans-serif;
}

/*
-----------------------------------------------
Layout
-----------------------------------------------*/

#header
{
	height: 145px;
	border-bottom: 12px solid #000;
	background: #0A57A4;
}

#headtitles
{
	text-align: left;
	width: 760px;
	margin: 0 auto;
	/*line-height: 70px;*/
	padding-top: 50px;
	height: 95px;
	background-color: #0A57A4;
	background-image: url(../images/sfs-logo.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

#headtitles h1
{
	color: #fff;
	font-size: 54px;
	font-weight: normal;
	margin: 0 0 0.1em 0;
	/*line-height: 54px;*/
}
#headtitles h2
{
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	margin: 25px 0 0 10px;
	line-height: 20px;
}

#headtitles p
{
	color: #fff;
	font-size: 16px;
	font-family: 'Gill Sans', Arial, Helvetica, sans-serif;
}

#navigation {
	height: 42px;
	background: #AC9F83;
}

#frame
{
	width: 760px;
	margin: 0 auto;
	padding-top: 30px;
	text-align: left;
	/*background: #FFF url(../images/grid.gif) repeat-y left top;*/
}

#footer
{	
	margin: 40px 0 0 0;
	padding: 20px 0 20px 0;
	background-color: #CCC6AB;
height: 200px;
}

#footsie
{
	width: 760px;
	margin: 0 auto;
	text-align: left;
}

#footsie h4
{
	margin: 0 0 0.25em 0;
	color: #0A57A4;
}

#footsie p
{
	margin: 0;
	padding:4px;
}

.fb-like {
padding-top: 4px;
display: in-line;
}

/*
-----------------------------------------------
Generic classes
-----------------------------------------------*/

.floatclear { overflow:hidden; }

hr.clear {
	display: block;
	clear: left;
	margin: -0.66em 0;
  visibility: hidden;
}

/*
-----------------------------------------------
nav
-----------------------------------------------*/

ul#nav {
	/*position: relative;
	top: 68px;
	left: 188px;*/
	width: 760px;
	margin: 0 auto;
	padding: 0;
	height: 29px;
	list-style-type: none;
}

ul#nav li {
margin: 0;
}

ul#nav li a {
	/*position: absolute;
	top: 0;*/
	display: block;
	float: left;
	width: 100px;
	height: 28px;
	line-height: 29px;
	text-decoration: none;
	background-color: #CCC6AB;
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #FFF;
}

ul#nav li a.end
{
	border-right: 1px solid #FFF;
	width: 100px;
}

ul#nav li a:link, ul#nav li a:visited    { color: #FFF; text-decoration: none; }
ul#nav li a:hover, ul#nav li a:active, ul#nav li a.on		{ color: #FFF; background: #AC9F83; }

ul#nav li#hom a
{
	border: 0;
	width: 84px;
	height: 29px;
	background: transparent url(../images/leftnav.gif) no-repeat left top;
}

ul#nav li#hom a:hover
{
	background-color: transparent;
	background-position: -84px top;
}

ul#nav li#stm a
{
	border: 0;
	width: 84px;
	height: 29px;
	background: transparent url(../images/rightnav.gif) no-repeat left top;
}

ul#nav li#stm a:hover
{
	background-color: transparent;
	background-position: -84px top;
}
/*
-----------------------------------------------
frame
-----------------------------------------------*/

#frame h1 {
	font-size: 18px;
}

#frame h2 {
	margin: 1em 0 0.5em 0;
	font-size: 18px;
	color: #0A57A4;
}

#frame h3 {
	font-size: 14px;
}

#frame h4 {
	font-size: 12px;
}

#frame h4.blue {
	color: #0A57A4;
}

#frame p {
	margin: 0 0 1em 0;
}

#shortcuts
{
	float: left;
	margin-top: 40px;
	width: 50%;
	border-right: 1px solid #0A57A4;
}

#monthlySpecial
{
	float: right;
	width: 48%;
	margin-top: 40px;
}

#monthlySpecial p {
	/*margin-right: 20px;*/
}

p.productImage {
	float: right;
	margin: 0;
	padding-left: 20px;
}

#frame table
{
}

table tr th 
{
 /*text-align: left;*/
 border-top: 1px solid #AC9F83;
 border-bottom: 1px solid #AC9F83;
}

table tr td 
{
 /*text-align: left;*/
	/*font-size: 11px;*/
	border-bottom: 1px solid #DED9CD;
}

table tr th.product { width: 250px; }

table tr th.size { width: 120px; }

table tr th.ex { width: 90px; }

table tr th.gst { width: 100px; }

table tr th.total { width: 100px; }

table tr th.code { width: 100px; }

col.left
{
	text-align: left;
}

col.right
{
	text-align: right;
}

#sales tr>th, #sales tr>td {text-align: left;}
#sales th+th+th, #sales td+td+td {text-align: right;}

/* hire page */

#hire table tr th.product { width: auto; }

#hire table tr th.size { width: 80px; }

#hire table tr th.ex { width: 70px; }

#hire table tr th.gst { width: 75px; }

#hire table tr th.total { width: 80px; }

#hire table tr th.code { width: 70px; }

#hire table tr th.wtotal { width: 70px; }

#hire tr>th, #hire tr>td {text-align: left;}
#hire th+th, #hire td+td {text-align: right;}

/* */

table.jump tr td 
{
 text-align: left !important;
	/*font-size: 11px;*/
	border-bottom: none;
}

/*
-----------------------------------------------
footer
-----------------------------------------------*/
#footer {
clear: both;
}

.leftcol {
float: left;
width: 48%;
}

.rightcol {

width: 48%;
margin: 0 0 0 400px;
}

.leftcolspeed {
float: left;
margin: 0 30px 20px 0;
}

.rightcolspeed {
float: left;
width: 35%;
margin-left: 52%;
}

 ul li  {
margin: 8px 0 8px 10px;
}


/*---------------------------
IE 6 Hacks
---------------------------*/

* html #frame {height: 1%;}

/* html #navigation {height: 1%;} */

/* html #nav {display: inline;}*/

* html #nav li
{
	display: inline;
}

* html #nav li a {
	height: 28px;
	line-height: 28px;
}



/* IE5/Win Only Styles
   Uses the Mid Pass Filter:
   http://tantek.com/CSS/Examples/midpass.html
----------------------------------------------- */
@media tty {
 i{content:"\";/*" "*/}} @import 'ie5win.css'; /*";}
}/* */